<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{if eq .RelPermalink "/honestly-undefined/"}}Honestly Undefined - {{ .Site.Title }}
      {{ else }}
      {{ .Title }} - {{ .Site.Title }}
      {{end}}
    </title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />

    <script defer src="https://analytics.hypergraph.fi/script.js" data-website-id="8a58da73-83b6-48cb-95a2-2bbf024fdc86"></script>

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
  </head>


  <body class="site site-{{ .Section }}">
    <div class="site-content">
