<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{if .IsHome }}
      {{ .Site.Title }}
      {{ else }}
      {{ .Title }} - {{ .Site.Title }}
      {{end}}
    </title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />

    <script defer src="https://analytics.hypergraph.fi/script.js" data-website-id="8a58da73-83b6-48cb-95a2-2bbf024fdc86"></script>

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  </head>
  <body>