{{ partial "header.html" . }}
<style> body { max-width:850px !important;} </style>
<main>
  {{ partial "nav.html" . }}

    {{ range first 1 (where .Data.Pages "Section" "=" "honestly-undefined") }}
      <h2>#{{ .Slug }}: {{ .Title }}</h2>
    {{ end }}

  <nav class="nav-hu">
    <a href="/honestly-undefined/1">
      &lt;&lt;
    </a>

    {{ range first 1 ( after 1 (where .Data.Pages "Section" "=" "honestly-undefined")) }}
    <a href="{{ .Permalink }}">
      &lt; Prev
    </a>
    {{ end }}

    <a href="#">
      Next &gt;
    </a>

    <a href="/honestly-undefined">
      &gt;&gt;
    </a>
  </nav>

  {{ range first 1 (where .Data.Pages "Section" "=" "honestly-undefined") }}
  <img src="/images/honestly-undefined/{{ .File.TranslationBaseName }}.jpg" title="{{ .Title }}" alt="{{ .Title }}">
  {{ .Content }}
  {{ end }}

  <small class="muted mt-1">
    License for this image: <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-ND</a>
  </small>

</main>
{{ partial "footer.html" . }}
