{{ partial "header.html" . }}
<style> body { max-width:850px !important;} </style>
<main>
  {{ partial "nav.html" . }}
  <h2>#{{ .Slug }}: {{ .Title }}</h2>



  <nav class="nav-hu">
    <a href="/honestly-undefined/1">
      &lt;&lt;
    </a>

    {{if .PrevInSection}}
    <a href="{{.PrevInSection.Permalink}}">
      &lt; Prev
    </a>
    {{ else }}
    <a href="#">
      &lt; Prev
    </a>
    {{end}}

    {{if .NextInSection}}
    <a href="{{.NextInSection.Permalink}}">
      Next &gt;
    </a>
    {{ else }}
    <a href="#">
      Next &gt;
    </a>
    {{end}}

    <a href="/honestly-undefined">
      &gt;&gt;
    </a>
  </nav>

  <img src="/images/honestly-undefined/{{ .File.TranslationBaseName  }}.jpg">
  {{ .Content }}

  <small class="muted mt-1">
    License for this image: <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-ND</a>
  </small>

</main>

{{ partial "footer.html" . }}
