{{ partial "header.html" . }}
<div class="container-hu">
  <div class="article-meta-hu">
    <h1 class="h3">Honestly Undefined</h1>
    <p>{{ .Site.Params.descriptionhu }}</p>

    <hr>
    {{ range first 1 (where .Data.Pages "Section" "=" "honestly-undefined") }}
    <p><strong>#{{ .Slug }}: {{ .Title }}</strong></p>
    {{ end }}
  </div>



  <nav class="nav-hu">
    <a href="/honestly-undefined/1">
      &lt;&lt;
    </a>

    {{ range first 1 ( after 1 (where .Data.Pages "Section" "=" "honestly-undefined")) }}
    <a href="{{ .Permalink }}">
      &lt; Prev
    </a>
    {{ end }}

    <a href="#">
      Next &gt;
    </a>

    <a href="/honestly-undefined">
      &gt;&gt;
    </a>
  </nav>

  {{ range first 1 (where .Data.Pages "Section" "=" "honestly-undefined") }}
  <img src="/images/honestly-undefined/{{ .File }}.jpg" title="{{ .Title }}" alt="{{ .Title }}">
  {{ .Content }}
  {{ end }}

</div>

{{ partial "footer.html" . }}
