<div class="book">
  <span class="book_cover_container">
    <img class="book_cover" src="/images/book_covers/{{ book.isbn }}.jpg" alt="{{ book.title }}"/>
  </span>

  <div class="book_descriptuon">
    <h4>
      {% if book.featured %}
        <span alt="Great book!" class="bookshelf_featured_mark">★</span>
      {% endif %}
      <a href="https://www.goodreads.com/search?q={{ book.title }}">
        {{ book.title }}, <i class="book_author">by {{ book.author }}</i>
      </a>
    </h4>
    <p class="mt2">{{ book.comment }}</p>
  </div>

</div>
