<header>
  <div class="container">
    <h1>
      <a href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
    </h1>
    <p>
      I'm <a href="{{ "/about" | prepend: site.baseurl }}">Rakhim</a>: a programmer, teacher, writer and podcaster.
    </p>
    <nav>
      <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        <span class="dot">•</span>
        <a href="{{ "/about" | prepend: site.baseurl }}">About</a>
        <span class="dot">•</span>
        <a href="{{ "/bookshelf" | prepend: site.baseurl }}">Bookshelf</a>
        {% if site.twitter_username %}
          <span class="dot">•</span>
          <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
        {% endif %}
        {% if site.github_username %}
          <span class="dot">•</span>
          <a href="https://github.com/{{ site.github_username }}">Github</a>
        {% endif %}

        <span class="dot">•</span>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </p>
    </nav>
  </div>
</header>
