{{ partial "header.html" . }}
<main class="container">
  {{ partial "nav.html" . }}
  <hr>
  <h1>{{ .Title }}</h1>

  <section>
    {{ range (.Site.RegularPages.GroupByPublishDate "2006") }}
    {{ if ne .Key "0001" }}
    <h4>{{ .Key }}</h4>

    <ul>
      {{ range .Pages  }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }} {{if in .Params.tags "good" }} ★ {{ end }}</a>
        <i class="text-muted post-date">{{ .Date.Format "Jan 02, 2006"}}</i></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </section>
</main>

{{ partial "footer.html" . }}
