{{ partial "header.html" . }}
<main class="container">
  {{ partial "nav.html" . }}
  <hr>
  <h1>Bookshelf</h1>

  <p>
    Here are some of the books I have read lately. The list is also mirrored at <a href="https://www.goodreads.com/rakhim">goodreads.com/rakhim</a>.
  </p>

  {{ range sort .Site.Data.bookshelf "year" "desc" }}
    <h3>{{ .year }}</h3>

    {{ range .books }}
    {{ if .separator }}
    <p class="fancytitle text-light text-muted">last update above on {{ .date }}</p>
    {{ else }}
      <div class="book">
        <span class="book_cover_container">
          <img class="book_cover" src="/images/book_covers/{{ .isbn }}.jpg" alt="{{ .title }}"/>
        </span>

        <div class="book_descriptuon">
          <h4>
            {{ if.featured }}
            <span alt="Great book!" class="bookshelf_featured_mark">★</span>
            {{ end }}
            {{ .title }}, <i class="text-light text-muted">by {{ .author }}</i>
          </h4>
          <p>{{ .comment }}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
