{{ partial "header.html" . }}
<main class="container">
  {{ partial "nav.html" . }}

  <h1>Bookshelf</h1>

  <p>
    Here are some of the books I have read lately. 2020-2025 updates are coming soon! :)
  </p>

  {{ range sort .Site.Data.bookshelf "year" "desc" }}
    <h2>{{ .year }}</h2>

    {{ range .books }}

      <div class="row-container mb-2">
        <img class="book" src="/images/book_covers/{{ .isbn }}.jpg" alt="{{ .title }}" />
        <div>
          <h3 class="mt-0">
            {{ if.featured }}
            <span alt="Great book!" class="bookshelf_featured_mark">★</span>
            {{ end }}
            {{ .title }}, <i class="text-light text-muted">by {{ .author }}</i>
          </h3>
          <p>{{ .comment | markdownify }}</p>

        </div>
    </div>


      {{ end }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
