{{ partial "header.html" . }}

<div class="container">
  {{if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}

  {{ .Content }}

  <h3>Featured</h3>
  <ul>
    {{ range .Site.Taxonomies.tags.featured }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
      {{ if .Params.date }}<span class="date text-muted text-light">{{ .Date.Format "January 2, 2006" }}</span>{{ end }}
    </li>
    {{ end }}
  </ul>

  <hr>

  {{ $paginator := .Paginate (where .Data.Pages "Section" "=" "blog") }}
  {{ range $paginator.Pages }}
  <div class="mb4">
    <h1 class="mb0"><a href="{{ .URL }}" class="link-unstyled">{{ .Title }}</a></h1>
    {{ if .Params.date }}<a href="{{ .URL }}" class="link-unstyled"><span class="date text-muted text-light">{{ .Date.Format "January 2, 2006" }}</span></a>{{ end }}
    {{ .Content }}
  </div>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
</div>

{{ partial "footer.html" . }}
