{{ partial "header.html" . }}

<div class="container-fluid">
  {{if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}

  {{ .Content }}

  <h1 class="h2 primary-title">Hello!</h2>
<p>I'm Rakhim. I teach, program and make podcasts.</p>

{{ partial "nav.html" . }}

  <h4>Writing</h4>
  <ul>
    {{ range (where .Data.Pages "Section" "=" "blog") }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
      {{ if .Params.date }}<i class="text-muted text-light">{{ .Date.Format "Jan 2, 2006" }}</i>{{ end }}
    </li>
    {{ end }}
  </ul>


</div>

{{ partial "footer.html" . }}
