{{ partial "header.html" . }}

<div class="container">
  {{if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}

  {{ .Content }}

  <h3>Featured</h3>
  <ul>
    {{ range .Site.Taxonomies.tags.featured }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
      {{ if .Params.date }}<span class="date text-muted text-light">{{ .Date.Format "January 2, 2006" }}</span>{{ end }}
    </li>
    {{ end }}
  </ul>
</div>

<hr>

<div class="container">
  {{ $paginator := .Paginate (where .Data.Pages "Section" "=" "blog") }}
  {{ range $paginator.Pages }}
  <div class="mb4">
    <h1 class="h2"><a href="{{ .URL }}">{{ .Title }}</a></h1>
    {{ if .Params.date }}<small class="text-muted">{{ .Date.Format "January 2, 2006" }}</small>{{ end }}
    {{ .Content }}
  </div>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
</div>

{{ partial "footer.html" . }}
