body {
  height: 100%
}

.container-degas {
  max-width: 1220px;
}

.evol-status {
  position: absolute;
}

.evol-status h3 {
  background-color: #ffffffc7;
}

.online {
  border-top: 5px solid green;
}

.offline {
  border-top: 5px solid orange;
}

#themap {
  margin-top: 10px;
  background-image: url("../img/nl.png");
  background-size: cover;
}

.elited {
  background-image: url("../img/nl.png"), url("../img/haskell.gif") !important;
}
