{{ partial "header.html" . }}

<div class="container-fluid">
  {{if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}

  {{ .Content }}

  <h1 class="primary-title">Computable Multiverse</h1>
  <p class="container-about">
    I'm Rakhim. I teach, program, make podcasts, comics and videos on computer science. <a href="/about">Learn more</a>.
    You can <a href="https://www.patreon.com/rakhim">support me via Patreon</a>.
  </p>


  {{ partial "nav.html" . }}

  <hr>

  <section>
    {{ range (.Site.RegularPages.GroupByPublishDate "2006") }}
    {{ if ne .Key "0001" }}
    <h4>{{ .Key }}</h4>

    <ul>
      {{ range .Pages  }}
      {{ if ne .Section "honestly-undefined" }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <i class="text-muted post-date">{{ .Date.Format "Jan 02"}}</i></li>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </section>
</div>

{{ partial "footer.html" . }}
