:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  --padding: 1rem;
  --margin: 1rem;

  --color-bg: rgb(245, 245, 235);
  --color-bg-secondary: #fdfdfd;
  --color-dark: #000;
  --color-accent: #e0bc4e;

  --color-text: #000;
  --color-link: #0202b1;

  --max-width: 50rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  background-color: var(--color-bg);
  font-family: var(--font-mono);
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;

  padding-top: calc(var(--padding) * 3);
  padding-bottom: calc(var(--padding) * 3);
  padding-left: calc(var(--padding) * 4);
  padding-right: calc(var(--padding) * 4);
  max-width: var(--max-width);
}

article {
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

article p {
  margin-bottom: var(--margin);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img.book {
  max-width: 190px;
  border: 1px solid var(--color-dark);
  height: 100%;
}

@media (max-width: 700px) {
  img.book {
    max-width: 150px;
  }
}

@media (max-width: 500px) {
  img.book {
    max-width: 120px;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  margin-bottom: calc(var(--margin) / 3);
}

a,
a:visited,
a:active {
  color: var(--color-link);
  text-underline-offset: 0.3em;
  transition: all 0.1s ease-in-out;
}

a:hover {
  text-underline-offset: 0.35em;
}

a.unstyled {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: var(--font-serif);
  margin-top: var(--margin);
  margin-bottom: calc(var(--margin) / 2);
  text-wrap: balance;
}

h1 {
  font-size: 2.0582em;
}

h2 {
  font-size: 1.618em;
}

h3 {
  font-size: 1.272em;
}

p {
  font-size: 1em;
}

small {
  font-size: .7862em;
}

small {
  font-size: .8706em;
}

form {
  display: flex;
  flex-direction: row;
  gap: calc(var(--padding)/2);
  max-width: 30rem;
}

form input[type="email"] {
  flex: 1;
  padding: calc(var(--padding) / 4);
  background-color: var(--color-bg);
  border: 1px solid var(--color-dark);
}

form input[type="email"]:focus {
  background-color: var(--color-bg-secondary);
}

form input[type="submit"] {
  border: 1px solid var(--color-dark);
  background-color: var(--color-accent);
  padding: 0 var(--padding);
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: var(--color-dark);
  color: var(--color-bg);
}


:target {
  animation: highlight 5s ease-out;
}

@keyframes highlight {
  0% {
    background-color: var(--color-accent);
    padding-left: 20px;
  }

  100% {
    background-color: transparent;
    padding-left: 0;
  }
}


p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

pre {
  margin-bottom: var(--margin);
  font-size: smaller;
  padding: var(--padding);
}

hr {
  margin-top: calc(var(--margin) * 2);
  opacity: 0.22;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double var(--color-text);
  color: var(--color-text);
  text-align: center;
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: var(--color-bg);
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--margin);
}

.mb-1 {
  margin-bottom: var(--margin);
}

.mb-2 {
  margin-bottom: calc(var(--margin) * 2);
}

.normal {
  font-weight: normal;
}

.muted {
  opacity: 0.5;
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  margin-top: calc(var(--padding) * 4);
  padding-top: calc(var(--padding) * 2);
  padding-bottom: calc(var(--padding) * 3);
  border-top: 1px solid var(--color-dark);
}

@media (max-width: 700px) {
  body {
    padding: calc(var(--padding) * 2);
  }
}

@media (max-width: 600px) {
  body {
    padding: var(--padding);
  }
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: calc(var(--margin) * 2);
}

@media (max-width: 500px) {
  nav {
    gap: 0.6rem;
  }
}

nav.nav-hu a {
  text-decoration: none;
  background-color: var(--color-accent);
  padding: 0.2rem 0.55rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

details {
  background-color: var(--color-bg-secondary);
}

details .inner {
  padding: calc(var(--padding) * 1.25);
}

details summary {
  background-color: var(--color-bg);
  cursor: pointer;
}

nav a,
nav a:visited,
nav a:active,
nav a:hover {
  color: inherit;
}

nav a {
  text-decoration: underline;
  text-underline-offset: 0.45em;
}

nav a:hover {
  text-decoration-thickness: 2px;
}

nav a.active {
  text-decoration-thickness: 2px;
  font-weight: bold;
}

section {
  background-color: var(--color-bg-secondary);
  padding: var(--padding);
  border: 1px solid var(--color-dark);
  border-left: 3px solid var(--color-dark);
  transition: all 0.1s ease-in-out;
}

section:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}